<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/CSS/main.css" rel="stylesheet" />

    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    @*<div>
        <a id="aUpdate" 
        asp-controller="Bakery" 
        asp-action="AJAXPartialExample" 
        asp-route-id="0" 
        data-target="environment-container"> Update</a>

        <div id="environment-container"></div>
    </div>*@
    <footer>
        <p>Made by: Micael Ståhl &copy; @DateTime.Now.ToString("yyyy-MM-dd")</p>
    </footer>
    @*<script>

        $("#aUpdate").click(function (e) {
            e.preventDefault();
            var _this = $(this);
            $.get(_this.attr("href"), function (res) {
                $('#' + _this.data("target")).html(res);
            });
        });

    </script>*@
</body>
</html>
