body {
    background-color: darkslategray;
    color: white;
}

table {
    border: outset 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: darkslategray;
    color: white;
}

#test {
    margin-left: auto;
    margin-right: auto;
}

.NoFilter {
    float: right;
}


#button {
    background-color: darkred;
    padding: 5px;
    margin: 1px;
    border-radius: 5px;
    color: white;
}

#AddPerson {
    float: left;
}

#FilterList {
    clear: both;
    float: left;
}

#AddPerson, #FilterList {
    border: outset 1px;
    padding: 5px;
    width: 172px;
}

footer {
    background-color: darkgray;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    overflow: hidden;
    color: black;
}