<h1>Index</h1>

<form method="post" id="AddPerson">
    <input type="text" name="Name" value="" placeholder="Name" />
    <br /><br />
    <input type="number" name="PhoneNumber" value="" placeholder="PhoneNumber" />
    <br /><br />
    <input type="text" name="City" value="" placeholder="City" />
    <br /><br />

    <button id="button">Create</button>
    <br /><br /><br />
</form>

<form method="post" id="FilterList">
    <input type="text" name="filter" value="" placeholder="Filter by name or city" />
    <br /><br />
    <input type="submit" name="filter" value="Filter" id="button" />
    <input type="submit" name="Name" value="No-Filter" class="NoFilter" id="button" />
    <br />
</form>


<div>
    @Html.PartialAsync("PersonListPartial")
</div>
